@import url("https://fonts.googleapis.com/css2?family=Ultra&display=swap");

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

body {background-image: url(../images/theatre.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.card-panel {
    margin-top: 100px;
    position: relative;
}

.brand-logo {
    margin-left: 5px;
    font-size: 1.3rem;
    font-family: 'Ultra', serif;
}

.flashes h4 {
    line-height: 2;
}

.center-align {
    font-family: 'Ultra', serif;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}
