{% extends "base.html" %}
{% block content %}

<div class="row card-panel grey lighten-2">
   <h2 class="center-align">Edit Show</h2>
   <form class="col s12" method="POST" action="{{ url_for('edit_show', show_id=show._id) }}">
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-folder-open prefix"></i>
                <select id="category_name" name="category_name" class="validate" required>
                    <option value="" disabled>Genre</option>
                    {% for category in categories %}
                        {% if category.category_name == show.category_name %}
                            <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                        {% else %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endif %}
                    {% endfor %}
                 </select>
                <label for="category_name">Show Category</label>
            </div>
        </div>
      <!--add name of show-->
      <div class="row">
         <div class="input-field col s12">
            <i class="fas fa-ticket-alt prefix"></i>
            <textarea id="show_name" name="show_name" minlength="5" maxlength="200" 
              class="materialize-textarea validate" required>{{ show.show_name }}</textarea>
            <label for="show_name">Show Name</label>
         </div>
      </div>
      <!--add writers name -->
      <div class="row">
         <div class="input-field col s12">
            <i class="fas fa-user prefix"></i>
            <textarea id="writer" name="writer" class="materialize-textarea validate" required>{{ show.writer }}</textarea>
            <label for="writer">Writers Name</label>
         </div>
      </div>
      <!--add theatre name-->
      <div class="row">
         <div class="input-field col s12">
            <i class="fas fa-university prefix"></i>
            <textarea id="theatre_name" name="theatre_name" class="materialize-textarea validate" required>{{ show.theatre_name }}</textarea>
            <label for="theatre_name">Theatre Name</label>
         </div>
      </div>
      <!--add review-->
      <div class="row">
         <div class="input-field col s12">
            <i class="fas fa-pencil-alt prefix"></i>
            <textarea id="review" name="review" class="materialize-textarea validate" required>{{ show.review }}</textarea>
            <label for="review">Your Review</label>
         </div>
      </div>
      <!--Edit button-->
      <div class="row">
         <div class="col s12 center-align">
             <a href="{{ url_for('get_shows') }}" class="btn-large red darken-4">
                 Cancel <i class="fas fa-times-circle right"></i>
             </a>
            <button class="btn-large waves-effect red darken-4" type="submit">Submit
            <i class="fas fa-edit"></i>
            </button>
         </div>
      </div>
   </form>
</div>


{% endblock %}