{% extends "base.html" %}
{% block content %}

<div class="row card grey lighten-2">
   <h3 class="center-align">View our Shows or Add your own!</h3>
   <form action="{{ url_for('search') }}" method="post" class="col s12">
      <div class="row center-align">
         <div class="input-field col s12 m8">
            <i class="fas fa-search prefix"></i>
            <input type="text" name="query" id="query" minlength="5" class="validate" required>
            <label for="query">Search for your favourite show...</label>
         </div>
         <div class="col s12 m4">
            <a href="{{ url_for('get_shows') }}" class="btn white-text red darken-4">Clear</a>
            <button type="submit" class="btn white-text red darken-4">
            <i class="fas fa-search left"></i>Search
            </button>
         </div>
      </div>
      <!--button to add a new show-->
      {% if session.user %}
      <div class="card-action center">
         <a href="{{ url_for('add_show') }}" class="btn-large white-text red darken-4 center-align">
         Add your own show reviews
         </a>
      </div>
      {% endif %}
   </form>
</div>

    <ul class="collapsible">
        {% for show in shows %}
        <li>
            <div class="collapsible-header white-text red darken-4">
                <div class="col s3">
                    <i class="fas fa-caret-down"></i>
                    {% if session.user|lower == show.created_by|lower %}
                        <a href="{{ url_for('delete_show', show_id=show._id) }}" class="btn-small green accent-4">Done</a>
                        <a href="{{ url_for('edit_show', show_id=show._id) }}" class="btn-small blue accent-4">Edit</a>
                    {% endif %}
                </div>
                <div class="col s9">
                    <strong>{{ show.show_name }}</strong> 
                </div>
            </div>
            <div class="collapsible-body white">
                <strong>{{ show.category_name }}</strong>
                <p>{{ show.writer }}</p>
                <p>{{ show.theatre_name }}</p>
                <p>{{ show.review }}</p>
                <p><em>by: {{ show.created_by }}</em></p>
            </div>
        </li>
        {% endfor %}
    </ul>



{% endblock %}